@font-face {
  font-family: Gumela;
  src: url('../src/components/fonts/Gumela.ttf');
}

*{
  font-family: "Gumela";
  font-weight: normal;
  font-size: 20px;
}

:root {
  --primaryColor : yellow;
  --secondaryColor : rgb(1, 219, 226);
  --blackColor : rgba(2, 43, 56, 0.8);
  --whiteColor : rgba(218, 240, 253, 0.800);
  --schoolColor : rgb(151, 75, 20);
  --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

.App{
  overflow: hidden;
  color: var(--black);
}

.button {
  background: #1f99d1 99.36%;
  box-shadow: 0px 10px 14px 2px rgba(54, 71, 116, 0.575);
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 20px;
  padding: 11px 26px 11px 26px;
}

.button:hover {
  background: #0c5848 99.36%;
  cursor: pointer;
}

.button:active {
  background: #0c9bdd 99.36%;
  box-shadow: none;
}